<% layout('layout') -%>

<div class="container">
  <div class="row">
    <div class="col-lg-6">

      <% for (var i = 0; i < foundCart.items.length; i++) { %>
        <div class="list-group">
          <span class="list-group-item">
            <div class="row">
              <div class="col-md-3">
                <span><img class="product-image" src="<%= foundCart.items[i].item.image %>"></span>
              </div>

              <div class="col-md-6">
                <p class="list-group-item-heading"><%= foundCart.items[i].item.name %></p>
              </div>
              <div class="col-md-3">
                <p><%= foundCart.items[i].quantity %></p>
                <p><%= foundCart.items[i].price %></p>

                <form method="post" action="/remove">
                  <input type="hidden" name="item" value="<%= foundCart.items[i]._id %>">
                  <input type="hidden" name="price" value="<%= foundCart.items[i].price %>">
                  <button type="submit" type="button">Remove</button>
                </form>
              </div>

            </div>
          </span>
        </div>

        <% } %>
      </div>

      <div class="col-md-3"></div>

      <div class="col-md-3">
        <div class="list-group">
          <span class="list-group-item">
            <h4>Total: $<span class="totalPrice"><%= foundCart.total %></span></h4>

            <div class="form-group">
              <input type="hidden" value="<%= foundCart.total %>">
              <button type="submit" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Pay with Stripe</button>
            </div>
          </span>

        </div>

      </div>

  </div>
</div>